.site-header {
  background-color: rgb(103, 231, 167);
  color: rgb(250, 250, 250);
  height: 100vh;
  font-family: monospace;
}
.site-header-content {
  margin: 20px;
}

.profile-picture {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

body {
  margin: 0;
}
